/* colors */

.placeholder-color {
    --menu: #fff;
    --menuhover: #fff;
    --left: #fff;
    --lefthover: #ffffff;
    --main: #fff;
    --right: #fff;
    --tabbar: #fff;
    --tablinks: #bebebe;
    --tabbarhover: #ddd;
    --tabarea: #fff;
    --activetab: #41dfd1;
    --font: #ffff;
    --codecolor: #ffff;
}

:root {
    --menu: #3c6677;
    --menuhover: #648397;
    --left: #34b149;
    --lefthover: #35c277;
    --main: #e06c48;
    --right: #ca347a;
    --tabbar: #acacac;
    --tablinks: #acacac;
    --tabbarhover: #ebebeb;
    --tabarea: #4b3e83;
    --activetab: #41dfd1;
    --font: #fff;
    --codecolor: #b3ff95;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    overflow: hidden
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 100vh
}


/* header section */

header {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background-color: var(--menu);
    display: flex;
    justify-content: center;
    align-items: center
}

header ul {
    font-size: 3em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center
}

header li {
    display: inline-flex;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s
}

header li a {
    color: var(--font);
    padding: 14px 16px;
    text-decoration: none
}

header li:hover {
    background-color: var(--menuhover);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s
}


/* left-side section */

.left-side {
    grid-column: 1 / 2;
    grid-row: 2 / 8;
    background-color: var(--left)
}

.left-side ul {
    font-size: 2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center
}

.left-side li {
    padding: 10px 0 10px 0;
}

.left-side li a {
    color: var(--font);
    text-decoration: none
}

.left-side li:hover {
    background-color: var(--lefthover);
}


/* main section */

.main {
    grid-column: 2 / 5;
    grid-row: 2 / 6;
    background-color: var(--main);
    white-space: pre-wrap;
    color: var(--codecolor);
}


/* right-side section */

.right-side {
    grid-column: 5 / 5;
    grid-row: 2 / 6;
    background-color: var(--right)
}


/* tabs & tabbar */

.tabs {
    grid-column: 2 / 6;
    grid-row: 6 / 8;
    background-color: var(--tabarea)
}

.tabbar {
    overflow: hidden;
    background-color: var(--tabbar);
    border-style: inset
}

.tabbar button.active {
    background-color: var(--activetab)
}

.tabbar button {
    background-color: var(--tablinks);
    float: left;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0 1% 0 1%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    border: inset
}

.tabbar button:hover {
    background-color: var(--tabbarhover);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s
}


/* additional classes */

.content-padder {
    padding: 20px
}

.border {
    border-style: inset
}

.scroll {
    overflow-y: scroll
}


/* media */

@media only screen and (max-aspect-ratio:4/3) {
    .main {
        grid-column: 2 / 6;
        grid-row: 2 / 5
    }
    .right-side {
        grid-column: 2 / 6;
        grid-row: 5 / 6
    }
}

@media only screen and (max-aspect-ratio:3/4) {
    .left-side {
        grid-column: 1 / 6;
        grid-row: 2 / 3
    }
    .main {
        grid-column: 1 / 6;
        grid-row: 3 / 6
    }
    .right-side {
        grid-column: 1 / 6;
        grid-row: 6 / 7
    }
    .tabs {
        grid-column: 1 / 6;
        grid-row: 7 / 8
    }
}