{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Stłomka www</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</head>

<body>
    {% block mainpage %}{% endblock mainpage %}
</body>

</html>