{% extends "base.html" %} {% block mainpage %}
<div class="parent">
    <header>
        <ul>
            <li><a href="/addFile">ADD-FILE</a></li>
            <li><a href="/addDirectory">ADD-DIRECTORY</a></li>
            <li><a href="/delete">DELETE-FILE</a></li>
            <li><a href="/index">RUN</a></li>
            <li><a href="/resetFile">RESET-FILE</a></li>
        </ul>
    </header>

    <div class="left-side border scroll">
        <ul>
            {% for directory in directories %}
            <li>
                <a class="dir" href="/index/0">
                    <div class="leftalign">
                        {% with ''|center:directory.0.2 as range %} {% for _ in range %} &ensp; {% endfor %} {% endwith %} | {{directory.0.1}}/
                    </div>
                </a>
            </li>
            {% for file in directory.1 %}
            <li>
                <a class="file" href="/showFile/{{file.0}}">
                    <div class="leftalign">
                        {% with ''|center:directory.0.2 as range %} {% for _ in range %} &ensp; {% endfor %} {% endwith %} &ensp; | {{file.1}}
                    </div>
                </a>
            </li>
            {% endfor %} {% endfor %}
        </ul>
    </div>

    <!-- Głupotka więc stylizowanie po części w htmlu -->
    {% if code == None %}
    <code class="main content-padder border scroll" style="background: var(--mainempty); position: relative;">
    <div class="centerAbsolute">
        <img src="/static/pepe.png" style="max-width: 100%; max-height: 100%;"/>
        <p style="text-align: center; font-size: 2em;">HOPE YOUR CODE WORKS BUDDY</p>
    </div>    
    </code> {% else %}
    <code class="main content-padder border scroll">{% for line in code %}<span style="background:var(--linenum)">{{line.1}}  </span>  {{line.0}}{% endfor %}</code> {% endif %}


    <div class="right-side content-padder border scroll">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sit magnam maxime nostrum qui debitis quas quia iste cumque deserunt? Excepturi, iusto tempore sed culpa eveniet sunt nesciunt maxime ipsa quidem non alias officiis placeat earum quae ducimus,
        quo ea accusantium! Rem doloribus debitis minima voluptates minus necessitatibus dolor repellat!</div>


    <div class="tabs border scroll">

        <div class="tabbar">
            <form action="/changeTab/0">
                <button {% if active.0 %}class="active" {% endif %}>PROVERS</button>
            </form>
            <form action="/changeTab/1">
                <button {% if active.1 %}class="active" {% endif %}>VCs</button>
            </form>
            <form action="/changeTab/2">
                <button {% if active.2 %}class="active" {% endif %}>RESULT</button>
            </form>
        </div>

        <div class="content-padder" {% if not active.0 %} style="display: none;" {% endif %}>
            <div style="text-align: center;">
                <p style="color:var(--font); margin: 0 0 1% 0">CHOOSE YOUR PROVER (currently: {{currProver}})</p>
                <form action="/chooseProver/" name="CHOOSE PROVER" method="POST">{% csrf_token %}
                    <select class="provers" name="chosenProver">
                    {% for prover in provers %}
                    <option value={{prover}}>{{prover}}</option>
                    {% endfor %}
                </select>
                    <div style="width: 100%;">
                        <input class="provers" type="submit" value="APPLY" />
                    </div>
                </form>
            </div>
        </div>

        <div class="content-padder" {% if not active.1 %} style="display: none;" {% endif %}>
            <div style="text-align: center;">
                <form action="/setFlags/" name="VCs" method="POST">{% csrf_token %}
                    <div style="margin-bottom: 1%;">
                        <span style="color:var(--font); margin: 0 0 1% 0">ENABLE WP-RTE: </span>
                        <label class="switch">
                                <input type="checkbox" name="enable" {% if rte %} checked {% endif %}>
                                <span class="slider"></span>
                        </label>
                    </div>
                    <div style="margin-bottom: 1%;">
                        <span style="color:var(--font); margin: 0 0 1% 0">WRITE FLAGS: </span>
                        <input class="flags" type="text" name="flags">
                    </div>
                    <div><span style="color:var(--font); margin: 0 0 1% 0">CURRENT FLAGS: {{currFlags}}</span></div>
                    <div>
                        <input class="flags" type="submit" value="APPLY">
                    </div>
                </form>
            </div>
        </div>

        <div class="content-padder" {% if not active.2 %} style="display: none;" {% endif %}>
            <span style="color: var(--font); white-space: pre-wrap;">{{result}}</span>
        </div>
    </div>
</div>
{% endblock mainpage %}